NODE_ENV=development

PORT=4000
SERVER_URL=http://localhost:4000
CLIENT_URL=http://localhost:5176

MONGODB_URI=mongodb+srv://ahmad1ey72_db_user:bfO0pyK1ZWEPbCi4@cluster0.w2hvmhl.mongodb.net/?appName=Cluster0

JWT_SECRET=replace-me

AES_SECRET_KEY=replace-me-32-bytes
AES_IV=replace-me-16-bytes

OPENAI_API_KEY=

GOOGLE_CLIENT_ID=7
GOOGLE_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT=