body {
  margin: 0;
  background: #020617;
  color: white;
  font-family: Arial, sans-serif;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 16px;
}

.btn-primary {
  background: #2563eb;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  color: white;
  padding: 10px 16px;
  border: 1px solid #475569;
  border-radius: 8px;
  cursor: pointer;
}